# Ignore folders and files that are generated per-user
/Binaries
/Intermediate
/Saved
/db
/.vs
/UnrealCigi.sln
/Plugins/UnrealCigi_Plugin/Binaries
/Plugins/UnrealCigi_Plugin/Intermediate

# Ignore any external imports because they can be VERY large and can easily overflow repository
/Content/ExternalImports
/DerivedDataCache
/.vsconfig

